.address__address {
  margin-top: 0;
  margin-bottom: 16px;
}

.address__icon {
  position: relative;
  padding-left: 19px;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  color: inherit;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 13px;
    height: 16px;
    font-size: 14px;
    line-height: 20px;
    background-image: var(--bgi);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 16px;
  }

  &--address::before {
    --bgi: url("../../images/icons/stack.svg#address");
  }

  &--phone::before {
    --bgi: url("../../images/icons/stack.svg#phone");
  }
}

.address__link-phone {
  transition: color 0.25s ease-in-out;

  @include not-focus;

  @include focus-visible {
    color: var(--color-accent);
  }

  @include any-hover {
    color: var(--color-accent);
  }

  @include active {
    color: var(--color-active);
  }
}
