.burger {
  position: absolute;
  top: 0;
  right: -21px;
  padding: 0;
  min-width: 60px;
  min-height: 60px;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.25s ease-in-out;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-image: var(--bgi);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    --bgi: url("../../images/icons/stack.svg#burger");
  }

  &--active::before {
    --bgi: url("../../images/icons/stack.svg#burger-close");
  }

  &:active {
    background-color: var(--bgc-active);
  }

  @include tablet {
    display: none;
  }
}
