.catalog {
  padding-top: 47px;
  padding-bottom: 44px;
  background-color: var(--catalog-bgc);
}

.catalog__container {
  text-align: center;
}

.catalog__badge {
  margin-bottom: 5px;
}

.catalog__title {
  margin-bottom: 20px;
}
