.footer {
  display: grid;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 10px;
    padding-top: 40px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 40px;
  }
}

.footer__section {
  position: relative;
  padding-block: 20px;
  padding-bottom: 30px;

  @include tablet {
    padding-block: 0;
  }

  @include desktop {
    &--shop,
    &--media,
    &--contacts {
      padding-top: 10px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background-color: var(--bgc-active);

    @include tablet {
      content: none;
    }
  }

  &--contacts {
    padding-bottom: 21px;
  }
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 21px;

  @include tablet {
    grid-column: 3 span;
  }

  @include desktop {
    grid-column: 1 span;
    flex-direction: column;
    align-items: initial;
    padding-bottom: 20px;
  }
}

.footer__social__logo-wrap {
  padding-right: 15px;

  @include desktop {
    padding-right: 0;
  }
}

.footer__social__logo-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.footer__social__logo-img {
  display: block;
  object-fit: initial;

  @include tablet {
    width: 170px;
    height: 36px;
  }

  @include desktop {
    margin-bottom: 10px;
  }
}

.footer__social__logo-text {
  display: none;

  @include desktop {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
  }
}

.footer__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.28px;
  color: var(--color-border-current);

  &--contacts {
    margin-bottom: 19px;
  }
}

.footer__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  transition: color 0.25s ease-in-out;

  @include not-focus;

  @include focus-visible {
    color: var(--color-accent);
  }

  @include any-hover {
    color: var(--color-accent);
  }

  @include active {
    color: var(--color-active);
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 17px;
}

.footer__developer {
  @include tablet {
    grid-column: 3 span;
    padding-top: 10px;
  }

  @include desktop {
    grid-column: 4 span;
    padding-top: 0;
  }
}

.footer__developer-text {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #bdbdbd;
}

.footer__developer-link {
  position: relative;
  padding-right: 16px;
  text-decoration: none;
  color: currentColor;
  transition: color 0.25s ease-in-out;

  @include not-focus;

  @include focus-visible {
    color: var(--color-border-current);
  }

  @include any-hover {
    color: var(--color-border-current);
  }

  @include active {
    color: var(--color-active);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 16px;
    background-color: #bdbdbd;
    mask: url("../../images/icons/stack.svg#logo-academy") no-repeat center / 12px 16px;
    transition: background-color 0.25s ease-in-out;
  }

  @include focus-visible {
    &:focus-visible::after {
      background-color: var(--color-border-current);
    }
  }

  @include any-hover {
    &:hover::after {
      background-color: var(--color-border-current);
    }
  }

  @include active {
    &:active::after {
      background-color: var(--color-active);
    }
  }
}
