.header {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    background-color: var(--color-white);
    outline: 1px solid var(--bgc-active);
  }

  @include tablet {
    &::before {
      content: none;
    }
  }
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 60px;

  @include tablet {
    justify-content: space-between;
    min-height: 80px;
  }
}

.header__logo {
  position: relative;
  flex-shrink: 0;
  margin-right: auto;
  z-index: 3;

  @include tablet {
    z-index: 0;
    margin-right: 0;
    padding-right: 20px;
  }

  @include desktop {
    padding-right: 30px;
  }
}
