.navigation {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 2;
  min-height: 228px;
  visibility: hidden;
  background-color: var(--color-white);
  transform: translateY(-120%);
  transition: visibility 0.4s ease-in-out, transform 0.4s ease-in-out;

  @include tablet {
    position: initial;
    z-index: 0;
    min-height: auto;
    visibility: visible;
    transform: none;
  }
}

.navigation--active {
  visibility: visible;
  transform: none;
  transition: visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.navigation__list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transform: translateX(4px);
  }

  @include desktop {
    gap: 20px;
    transform: translateX(1px);
  }
}

.navigation__item {
  border-bottom: 1px solid var(--bgc-active);

  @include tablet {
    border-bottom: none;
  }
}

.navigation__link {
  display: block;
  max-width: 280px;
  margin-inline: auto;
  padding: 21px 20px 19px 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: var(--color-main);
  -webkit-tap-highlight-color: transparent;
  transition: color 0.25s ease-in-out;

  @include tablet {
    padding: 32px 21px 30px 20px;
    border-bottom: 2px solid transparent;

    &.current-page {
      color: var(--color-border-current);
      border-bottom: 2px solid var(--color-border-current);
    }


    @include focus-visible {
      color: var(--color-border-current);
    }

    @include any-hover {
      color: var(--color-border-current);
    }
  }

  &:active {
    background-color: var(--bgc-active);
  }
}
