.slider {
  display: flex;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.slider__slide {
  width: 100%;
}

.slider__slide-wrap {
  @include tablet {
    display: grid;
    justify-content: center;
  }

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    justify-content: initial;
  }
}

.slider__image-wrap {
  padding-bottom: 6px;
  min-height: 286px;

  @include tablet {
    grid-row: 2 / 3;
    justify-self: center;
    padding-bottom: 0;
    min-height: 476px;
  }

  @include desktop {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: 48px;
  }
}

.slider__image {
  display: block;

  @include tablet {
    width: 476px;
    height: 476px;
  }

  @include desktop {
    width: 600px;
    height: 600px;
  }
}

.slider__description-wrap {
  text-align: center;

  @include tablet {
    grid-row: 1 / 2;
    padding-bottom: 20px;
  }

  @include desktop {
    grid-column: 2 / 3;
    padding-top: 147px;
    padding-left: 15px;
    padding-bottom: 0;
    text-align: left;
  }
}

.slider__badge {
  margin-bottom: 5px;
}

.slider__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.72px;

  @include tablet {
    margin-bottom: 15px;
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1.12px;
  }
}

.slider__description {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  @include tablet {
    max-width: 605px;
    font-size: 20px;
    line-height: 32px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.slider__old-price {
  margin-right: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: line-through;
  color: var(--color-border-current);
}

.slider__price {
  margin-right: 17px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.slider__button {
  padding: 5px 8px;
  padding-top: 7px;
  width: 113px;
  min-height: 40px;
  font-family: var(--main-font);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  color: var(--color-white);
  background-color: var(--color-border-current);

  @include not-focus;

  @include focus-visible {
    background-color: var(--color-accent);
  }

  @include any-hover {
    color: var(--color-accent);
  }

  @include active {
    color: var(--color-active);
  }

  @include disabled {
    background-color: var(--color-social);
  }
}

.slider__button-nav {
  position: absolute;
  top: 108px;
  padding: 0;
  width: 20px;
  height: 400px;
  font-size: 24px;
  color: var(--color-border-current);
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.25s ease-in-out;

  @include tablet {
    top: -57px;
    width: 80px;
    height: 639px;
  }

  @include desktop {
    top: -30px;
    bottom: -84px;
    width: 80px;
    height: auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 20px;
    background-color: var(--color-border-current);
    mask: url("../../images/icons/stack.svg#arrow") no-repeat center / 11px 20px;
  }

  @include not-focus;

  @include focus-visible {
    background: linear-gradient(90deg, var(--color-white) 0%, rgba(255, 255, 255, 0) 100%);
  }

  @include any-hover {
    background: linear-gradient(90deg, var(--color-white) 0%, rgba(255, 255, 255, 0) 100%);
  }

  @include active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.slider-button-prev {
  left: -20px;

  @include desktop {
    left: -40px;
  }
}

.slider-button-next {
  right: -20px;
  transform: rotate(180deg);

  @include desktop {
    right: -40px;
  }
}

.slider__button-nav:disabled::before {
  background-color: var(--color-social);
}

.slider-pagination {
  position: absolute;
  left: 49.6%;
  bottom: -20px;
  transform: translateX(-50%);
  display: none;
  gap: 3px;

  @include desktop {
    display: flex;
  }
}

.slider__button-pagination {
  position: relative;
  padding: 10px 0;
  width: 62px;
  height: 4px;


  &::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    height: 4px;
    background-color: var(--color-white);
    transition: background-color 0.25s ease-in-out;
  }

  @include not-focus;

  @include focus-visible {
    &:focus-visible::before {
      background-color: var(--color-bgc-active);
    }
  }

  @include any-hover {
    &:hover::before {
      background-color: var(--color-bgc-active);
    }
  }

  @include active {
    &:active::before {
      background-color: var(--color-border-current);
    }
  }
}

.button-pagination-current {
  &::before {
    background-color: var(--color-border-current);
  }
}
