:root {
	// fonts
	--main-font: "Montserrat", system-ui, sans-serif;

	// colors
	--color-white: #ffffff;
	--color-main: #333333;
	--bgc: var(--color-white );
	--color-accent: #4cfd3c;
	--bgc-active: #f0ebff;
  --color-border-current: #7859cf;

	// sizes
	--main-size: 16px;
}
