:root {
  // fonts
  --main-font: "Montserrat", system-ui, sans-serif;

  // colors
  --color-white: #ffffff;
  --color-main: #333333;
  --bgc: var(--color-white);
  --bgc-active: #f0ebff;
  --color-border-current: #7859cf;
  --color-social: #bdbdbd;
  --color-bgc-active: #d8d0ee;
  --color-accent: #9070ec;
  --color-active: #593cac;
  --color-bgc-slider: #f3ebe1;
  --color-transparent: rgba(0, 0, 0, 0);

  // sizes
  --main-size: 16px;
}
