:root {
  // fonts
  --main-font: "Montserrat", system-ui, sans-serif;

  // colors
  --color-white: #ffffff;
  --color-main: #333333;
  --bgc: var(--color-white);
  --bgc-active: #f0ebff;
  --color-border-current: #7859cf;
  --color-social: #bdbdbd;
  --color-bgc-active: #d8d0ee;

  // sizes
  --main-size: 16px;
}
